body {
    margin: 0;
    overflow-x: hidden;
}

.fundoImagem img {
    width: 100%;
}

 p {
    text-align: center;
    height: auto;
} 

.products-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.content {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background: #f2f2f2;
}

/* .content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
} */


img {
    width: 80%;
    height: 80%;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.botao-voltar {
    padding: 3px;
    /* margin: 0.5%;  */
    /* margin-right: 40% !important; */
    background-color: #7a51ac; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    text-decoration: none;
    border: none;
    border-radius: 2px; 
    cursor: pointer;
    height: 31px;
    margin-right: 2px;
}

.botao-voltar:hover {
    background-color: #9e8bb4; /* Cor de fundo alterada */
}

 .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

.input-botao {
    display: flex;
    flex-direction: row;
}

.meu-input {
    max-width: 400px;
    /* border: none; */
    border-radius: 5px;
    border-width: 1.2px;
    margin-right: 2px;
}

.meu-botao {
    border-radius: 5px;
    /* background-color: white; */
    border-width: 1.2px;
    margin-right: 10px;
    margin-left: 10px;
}

.mostrar-todos {
    border-radius: 5px;
    /* background-color: white; */
    border-width: 1.2px;
}

.modal-body img {
    width: 40px;
    height: 40px;
    display: inline;
    vertical-align: middle;
}

@media (max-width: 325px) {

    .botao-voltar {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .menu {
        flex-wrap: wrap;
    }
}

@media (max-width: 335px) {

    .botao-voltar {
        font-size: small;
    }

}

@media (max-width: 1200px) {
    .content {
        width: 30%;
    }
}

@media (max-width: 992px) {
    .content {
        width: 40%;
    }
}

@media (max-width: 520px) {
    .content {
        width: 40%;
    }

    p {
       font-size: small;
    }

    img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 350px) {
    .content {
        width: 50%;
    }

    p {
       font-size: small;
    }

    img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 456px) {
    .input-botao {
        height: 35px;
        font-size: 10px;
    }

}

