<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de presentes</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
</head>
<body>

    <div class="meu-container">
        <div class="fundoImagem">
          <img src="/images/fundoImagem.png">
        </div>
        <div class="botao">
            <a href="/lista-presentes">
                <img src="/images/icon-gift.png">
            </a>
            <a href="/lista-presentes">
                <button type="button" id="botao-lst-presente">Lista de presentes</button>
            </a>
        </div>
    </div>


    <script type="application/javascript" src="./assets/js/bootstrap.js"></script>
</body>
</html>