<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de presentes</title>
    <link rel="stylesheet" href="../../public/styles/index.css">
    <link rel="stylesheet" href="./assets/css/bootstrap.css">
</head>
<body>

    <div class="fundoImagem">
      <img src="../../public/images/fundoImagem.png">
    </div>
    <div class="botao">
        <a href="../views/lista-presentes.html">
            <img src="../../public/images/icon-gift.png" alt="">
        </a>
        <a href="../views/lista-presentes.html">
            <button type="button" id="botao-lst-presente">Lista de presentes</button>
        </a>
    </div>


    <script src="./assets/js/bootstrap.js"></script>
</body>
</html>