<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de presentes</title>
    <link rel="stylesheet" href="/styles/lista-presentes.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
</head>
<body>

    <div class="fundoImagem">
      <img src="/images/lista-presente.png">
    </div>

    <div class="container mb-5">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Digite o nome do presente" aria-label="Digite o nome do presente" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
        </div>

        <div>
            <ul class="products-list">
                {%for produto in listaProdutos %}
                <li>
                    <img src="">
                    <h1>{{produto.name}}</h1>
                    <a class="btn btn-success" href="{{produto.url}}" role="button">Presentear</a>
                    <h2>R${{produto.valor}}</h2>
                </li>
                {%endfor%}
            </ul>
        </div>
          
    </div>

    <script src="./assets/js/bootstrap.js"></script>
    <!-- <script src="../script.js"></script> -->
</body>
</html>