<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de presentes</title>
    <link rel="stylesheet" href="/styles/lista-presentes.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
</head>
<body>

    <div class="fundoImagem">
      <img src="/images/lista-presente.png">
    </div>

    <div class="container mb-5">

        <div class="menu">
            <a class="botao-voltar" href="/">Principal</a>
            <form id="buscar-presente" action="busca-produtos" method="POST">
                <div class="input-botao">
                    <input type="text" class="meu-input" name="product" placeholder="Digite o nome do presente" aria-label="Digite o nome do presente" aria-describedby="button-addon2">
                    <button class="meu-botao" type="submit" id="meu-botao">Buscar</button>
                    <button class="mostrar-todos" type="submit" name="todos" value="todos" id="mostrar-todos">Mostrar todos</button>
                </div> 
            </form>
        </div>

        <div class="products-list">
            {%for produto in listaProdutos %}
            <div class="content">
                <img src="/images/produtos/{{produto.image}}">
                <p>{{produto.name}}</p>
                <a class="btn btn-success" href="{{produto.url}}" role="button">Presentear</a>
                <h2>R${{produto.valor}}</h2>
            </div>
            {%endfor%}
        </div> 

    </div>

    <script src="/assets/js/bootstrap.js"></script>
    <script src="/js/pages.js"></script>
    <!-- <script type="text/javascript" src="/public/assets/js/bootstrap.js"></script> -->
</body>
</html>