<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de presentes</title>
    <link rel="stylesheet" href="/styles/lista-presentes.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
</head>
<body>

    <div class="fundoImagem">
      <img src="/images/lista-presente.png">
    </div>

    <div class="container mb-5">

        <div class="menu">
            <a class="botao-voltar" href="/">Principal</a>
            <form id="buscar-presente" action="busca-produtos" method="POST">
                <div class="input-botao">
                    <input type="text" class="meu-input" name="product" placeholder="Digite o nome do presente" aria-label="Digite o nome do presente" aria-describedby="button-addon2">
                    <button class="meu-botao" type="submit" id="meu-botao">Buscar</button>
                    <button class="mostrar-todos" type="submit" name="todos" value="todos" id="mostrar-todos">Mostrar todos</button>
                </div> 
            </form>
        </div>
        <div class="products-list">

            {% if listaProdutos.length == 0 %}
            <h1 id="nenhum-produto">Nenhum produto encontrado</h1>

            {% else %}

                {%for produto in listaProdutos %}
                <div class="content">
                    <img src="/images/produtos/{{produto.image}}">
                    <p>{{produto.name}}</p>
                    <form id="form-presentear-{{loop.index - 1}}" action="presentear" method="post">
                        <input type="hidden" name="url" value="{{produto.url}}">
                        <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{loop.index - 1}}">Presentear</button>   
                    </form>
                    <h2>R${{produto.valor}}</h2>
                </div>

                <div class="modal fade" id="staticBackdrop{{loop.index - 1}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel{{loop.index - 1}}" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel{{loop.index - 1}}">Lembrete!</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                        </div>
                        <div class="modal-body">
                        Após a escolha do presente, notifique a noiva, para que assim, possamos retirar o presente da lista e evitar o ganho de presentes repetidos. 
                        <img src="/images/icon-purple-heart.png">
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button form="form-presentear-{{loop.index - 1}}" name="redirect" value="sim" class="btn btn-primary">Comprar</button>
                        <!-- <a class="btn btn-primary" href="/presentear" role="button" >Comprar</a> -->
                        
                        </div>
                    </div>
                    </div>
                </div>
                {%endfor%}

            {% endif %}
        </div> 

    </div>


    <script src="/assets/js/bootstrap.js"></script>
    <script src="/js/pages.js"></script>
    <!-- <script type="text/javascript" src="/public/assets/js/bootstrap.js"></script> -->
</body>
</html>